<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MovieFinder</title>
  </head>
  <body>
    <h4>try searching for movie here:</h4>
    <form>
      <input type="search" name="title">

    </form>

  <h1>MovieFinder Search Results</h1>

  <h2><%= @movie.title %></h2>
  <p><%= @movie.plot %></p>

  



</body>
</html>
